@charset "utf-8";
body {
	
	
}
.heading {
	width: 1440px;
	height: 45px;
	background: #C6D48D;
	margin-left: auto;
	margin-right: auto;
	
}

.logo { 
	padding-top: 100px;}
	
	@media only screen and (max-width:700px) {	
		
		.heading{ 
	margin-left: 0px;
	background: #A55F83;
			}
	
    .logo {
		transform: scale(.5);
	   
		}
		
	.container {
		text-align: center;
			
			
		}
}

